////////////////////////////////////////////////////////////////////////////////
// Move element to center of the screen.
////////////////////////////////////////////////////////////////////////////////
.middle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

////////////////////////////////////////////////////////////////////////////////
// Disable Text Selection.
////////////////////////////////////////////////////////////////////////////////
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

////////////////////////////////////////////////////////////////////////////////
// Game Board
////////////////////////////////////////////////////////////////////////////////
#board {

  // Dimensions
  width: 800px;
  height: 800px;

  // Center horizonally on page.
  margin: 0 auto;

  // RGBY Button size.
  .btn {
    display: table-cell;
    border: solid 10px #333333;

    // Dimensions.
    width: 400px;
    height: 400px;
  }

  // Game Board Mask
  #board-mask {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 100%;
    background-color: rgba(33,33,33, 0);
  }

  // Container for Control Panel.
  #controls-container {

    // Dimensions.
    width: 425px;
    height: 425px;

    // Colours.
    background-color: white;
    border: solid 10px #333333;
    border-radius: 100%;

  }

  // Control Panel
  #control-panel {

    // Align center.
    text-align: center;

    // Game Name.
    #title { font-size: 3em; }

    // LCD Display.
    #lcd {
      background-color: white;
      border: solid 4px #333333;

      width: 125px;

      font-family: Courier, monospace;
      font-size: 3em;
      color: black;
    }

    // Control Panel Start/Strict Buttons.
    #btn-start, #btn-strict {
      background-color: transparent;

      border: solid 0px #333333;
      margin: 0;
      padding: 0;
      width: 100px;
      height: 125px;

      // Button Text Font.
      font-family: Verdana;
      font-size: 2em;
      color: black;

      // Icon Size.
      span { font-size: 2em; };

    }

  }
}
