////////////////////////////////////////////////////////////////////////////////
// Board
////////////////////////////////////////////////////////////////////////////////

// Simon board.
#board {
  width: 95vmin;
  height: 95vmin;
}

// Prevents clicking through to the boar dbuttons.
#board-mask {
  background-color: rgba(33,33,33, 0);
  width: 100%;
  height: 100%;
}
