#btn-green {
  top: 0;
  left: 0;
}

#btn-red {
  top: 0;
  right: 0;
}

#btn-yellow {
  bottom: 0;
  left: 0;
}

#btn-blue {
  bottom: 0;
  right: 0;
}
////////////////////////////////////////////////////////////////////////////////
// Game Button Inactive Colour
////////////////////////////////////////////////////////////////////////////////

.btn-green-inactive { background-color: $colour-green-inactive; };
.btn-red-inactive { background-color: $colour-red-inactive; };
.btn-yellow-inactive { background-color: $colour-yellow-inactive; };
.btn-blue-inactive { background-color: $colour-blue-inactive; }

////////////////////////////////////////////////////////////////////////////////
// Game Button Active Colour
////////////////////////////////////////////////////////////////////////////////

.btn-green-active { background-color: $colour-green-active; };
.btn-red-active { background-color: $colour-red-active; };
.btn-yellow-active { background-color: $colour-yellow-active; };
.btn-blue-active {background-color: $colour-blue-active; };

////////////////////////////////////////////////////////////////////////////////
// Indicator buttons for Power/Start and Strict Mode.
////////////////////////////////////////////////////////////////////////////////

.indicator-start-off { color: black; };
.indicator-start-on { color: #DC143C; };
.indicator-strict-off { color:black; };
.indicator-strict-on { color: #DC143C; };

////////////////////////////////////////////////////////////////////////////////
// Corners
////////////////////////////////////////////////////////////////////////////////

.corner-round-topleft { border-radius: 100% 0 0 0; };
.corner-round-topright { border-radius: 0 100% 0 0; };
.corner-round-bottomleft { border-radius: 0 0 0 100%; };
.corner-round-bottomright { border-radius: 0 0 100% 0; };

////////////////////////////////////////////////////////////////////////////////
// Border colours for matching corners.
////////////////////////////////////////////////////////////////////////////////

.border-green {
  border-left: solid 5px $colour-green-active;
  border-top: solid 5px $colour-green-active;
}

.border-red {
  border-top: solid 5px $colour-red-active;
  border-right: solid 5px $colour-red-active;
}

.border-yellow {
  border-left: solid 5px $colour-yellow-active;
  border-bottom: solid 5px $colour-yellow-active;
}

.border-blue {
  border-right: solid 5px $colour-blue-active;
  border-bottom: solid 5px $colour-blue-active;
}
