////////////////////////////////////////////////////////////////////////////////
// Control Panel outer donut section.
// Shows a circular border behind the control panel.
////////////////////////////////////////////////////////////////////////////////
#control-panel-outer-donut {

  // Dimensions.
  width: 380px;
  height: 380px;

  // Colours.
  background-color: $color-lightgrey;
  border: solid 5px $bg-color;
  border-radius: 100%;

}

////////////////////////////////////////////////////////////////////////////////
// Control Panel
////////////////////////////////////////////////////////////////////////////////
#control-panel {
  font-family: 'Share Tech Mono', monospace;
  background-color: none;

  // Align center.
  text-align: center;

  // Game Name.
  #title { font-size: 4.5em; }

  // LCD Display.
  #lcd {
    background-color: white;
    border: solid 4px #333333;
    border-radius: 5%;

    width: 125px;

    font-family: 'Share Tech Mono', monospace;
    font-size: 3em;
    color: black;
  }

  // Control Panel Start/Strict Buttons.
  #btn-start, #btn-strict {
    background-color: transparent;
    border: 0;

    //border: solid 1px #333333;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 125px;

    // Button Text Font.
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: black;

    // Icon Size.
    span {
      font-size: 2em;
      line-height: 0px;
    };
  }

}
