////////////////////////////////////////////////////////////////////////////////
// Control Panel outer donut section.
// Shows a circular border behind the control panel.
////////////////////////////////////////////////////////////////////////////////

#control-panel-bg {
  position: absolute;

  // Colours.
  background-color: $color-lightgrey;
  border: solid 5px $bg-color;
  border-radius: 100%;
}


////////////////////////////////////////////////////////////////////////////////
// Control Panel
////////////////////////////////////////////////////////////////////////////////
#control-panel {

  position: absolute;
  font-family: 'Share Tech Mono', monospace;
  background-color: none;

  #title { font-size: 1.5em };

  // Align center.
  text-align: center;

  // LCD Display.
  #lcd {
    background-color: white;
    border: solid 4px #333333;
    border-radius: 5%;
    outline: none;

    font-family: 'Share Tech Mono', monospace;
    color: black;
  }

  // Control Panel Start/Strict Buttons.
  #btn-start, #btn-strict {
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;

    //border: solid 1px #333333;
    margin: 0;
    padding: 0;


    // Button Text Font.
    font-family: 'Oswald', sans-serif;
    color: black;

    // Icon Size.
    span {
      line-height: 15px;
      font-size: 1em;
    };
  }

}
