////////////////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////////////////

// Share Tech Mono.
@font-face {
    font-family: "Share Tech Mono";
    src: url("../media/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf");
}

// Oswald.
@font-face {
    font-family: "Oswald";
    src: url("../media/fonts/Oswald/Oswald-Regular.ttf");
}
