@media screen and (min-width: 768px) {

  $board-dim: 760px;

  #board {

    // Dimensions
    width: $board-dim;
    height: $board-dim;

    // RGBY Button size.
    .btn {

      // Dimensions.
      width: ($board-dim/2)-5px;
      height: ($board-dim/2)-5px;
    }
  }

  #control-panel-bg {

    // Dimensions.
    width: ($board-dim/2)-5px;
    height: ($board-dim/2)-5px;

  }

  #control-panel {

        #title { font-size: 3.5em };

    // LCD Display.
    #lcd {
      width: 150px;
      font-size: 4em;
      margin-bottom: 5px;
    }

    // Control Panel Start/Strict Buttons.
    #btn-start, #btn-strict {

      width: 150px;
      height: 150px;

      span {line-height: 35px;}

      // Icon Size.
      .indicator-symbol { font-size: 5em; };
      .indicator-name { font-size: 2em; };
    }

  }

}
