////////////////////////////////////////////////////////////////////////////////
// Colours
////////////////////////////////////////////////////////////////////////////////
$colour-green-inactive: #00A74A;
$colour-red-inactive: #9F0F17;
$colour-yellow-inactive: #CCA707;
$colour-blue-inactive: #094A8F;

$colour-green-active: #13FF7C;
$colour-red-active: #FF4C4C;
$colour-yellow-active: #FED93F;
$colour-blue-active: #1C8CFF;

$color-lightgrey: #ECE7EE;

////////////////////////////////////////////////////////////////////////////////
// Disable Text Selection.
////////////////////////////////////////////////////////////////////////////////
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

////////////////////////////////////////////////////////////////////////////////
// Main
////////////////////////////////////////////////////////////////////////////////

// Colours.
$bg-color: #34495E;

body {
  background-color: $bg-color;
  font-size: 100%;
}

////////////////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////////////////

// Share Tech Mono.
@font-face {
    font-family: "Share Tech Mono";
    src: url("../media/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf");
}

// Oswald.
@font-face {
    font-family: "Oswald";
    src: url("../media/fonts/Oswald/Oswald-Regular.ttf");
}

////////////////////////////////////////////////////////////////////////////////
// Special classes.
////////////////////////////////////////////////////////////////////////////////

// Middle of screen (vertical and horizontal).
.middle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Lets clicks pass though this element.
.clickthrough { pointer-events: none; };

////////////////////////////////////////////////////////////////////////////////
// Board
////////////////////////////////////////////////////////////////////////////////

#board {
  width: 95vmin;
  height: 95vmin;
}

// Prevents clicking through to the boar dbuttons.
#board-mask {
  background-color: rgba(33,33,33, 0);
  width: 100%;
  height: 100%;
}

////////////////////////////////////////////////////////////////////////////////
// Control Panel
////////////////////////////////////////////////////////////////////////////////

#control-panel {
  width: calc(55% - 20px);
  height: calc(55% - 20px);
  background-color: $color-lightgrey;
  border: solid 5px $bg-color;

  border-radius: 100%;
}

#control-panel-widgets {
  text-align: center;
  width: 100%;

  #title {
      font-family: 'Share Tech Mono', monospace;
      font-size: 13vmin;
  }

  #lcd {
    width: 45%;
    background-color: white;
    border: solid 4px #333333;
    border-radius: 5%;
    outline: none;

    font-family: 'Share Tech Mono', monospace;
    font-size: 5vmin;
    color: black;
  }

  #btn-start, #btn-strict {
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;

    //border: solid 1px #333333;
    margin: 0;
    padding: 0;

    // Button Text Font.
    font-family: "Oswald", sans-serif;
    color: black;

    // Icon Size and spacing.
    .indicator-symbol { font-size: 10vmin; };
    .indicator-name { font-size: 3vmin; };
    span { line-height: 4vmin; };

  }

}

////////////////////////////////////////////////////////////////////////////////
// Imports
////////////////////////////////////////////////////////////////////////////////
@import "_buttons";
